.normal
{

color:black;
background-color:white;
font-weight:normal;

}

.common
{

color:black;

}

.delete
{

color:red;
font-weight:bold;

}

.insert
{

color:blue;
font-weight:bold;

}

.diff_common
{

background-color:white;

}

.diff_change
{

background-color:cyan;
font-weight:bold;

}

.diff_delete
{

background-color:yellow;
font-weight:bold;

}

.diff_insert
{

background-color:pink;
font-weight:bold;

}
