.normal
{

color:black;
background-color:white;
font-weight:normal;

}

.common
{

color:black;

}

.delete
{

color:red;
font-weight:bold;

}

.insert
{

color:blue;
font-weight:bold;

}

.diff_common
{

background-color:white;

}

.diff_change
{

background-color:#D8F6CE;
font-weight:bold;

}

.diff_delete
{

background-color:#FA8258;
font-weight:bold;

}

.diff_insert
{

background-color:#CED8F6;
font-weight:bold;

}
