#normal
{

color:black;
background-color:white;

}

#common
{

color:black;

}

#delete
{

color:red;

}

#insert
{

color:blue;

}

#diff_common
{

background-color:white;

}

#diff_change
{

background-color:cyan;

}

#diff_delete
{

background-color:yellow;

}

#diff_insert
{

background-color:green;

}
