*.cpp diff=srcdiff
*.hpp diff=srcdiff
*.cxx diff=srcdiff
*.hxx diff=srcdiff
*.cc diff=srcdiff
*.c++ diff=srcdiff
*.h++ diff=srcdiff
*.hh diff=srcdiff
*.ii diff=srcdiff
*.C diff=srcdiff
*.H diff=srcdiff
*.c diff=srcdiff
*.h diff=srcdiff
*.i diff=srcdiff
*.CPP diff=srcdiff
*.cp diff=srcdiff
*.tcc diff=srcdiff
*.java diff=srcdiff
*.aj diff=srcdiff
*.cs diff=srcdiff
*.m diff=srcdiff
