html

build

test/cli/*log*
test/cli/tmp

*.vcxproj*
*.sln

# general
*~
\#*\#
.\#*
*.pyc
.DS_Store
bin
.vs

# cmake/ctest/cpack
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Testing
Makefile
_deps
