<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
var files = <?php $out = array();
foreach (glob('*.srcdiff.html') as $filename) {
    $out[] = $filename;
}
echo json_encode($out); ?>;
var position = files.length - 1;
var is_signature = true
var element_stack = [ { is_signature:true, id:"" } ]

function top_element() {
  return element_stack[element_stack.length - 1];

}
/*
function load(object, filename, selector, func) {
  $.get(filename, function(data) {
    if(selector != undefined) {
      var parsed = $.parseHTML(data);
      object.html($(parsed).find(selector));
    } else {
      object.html(data);
    }
    func();
  });
}
*/
var commit_info = undefined
var source = undefined;
var operation = undefined;
var next = undefined
var previous = undefined

var opacity = 0.25;
function load_all() {

    source.css({ 'opacity' : opacity });
    operation.css({ 'opacity' : opacity });
    source.load(files[position], function() {
      $("[content=\"signature\"]").click(function() {
        element_stack.push({ is_signature:false, id:$(this).attr("id") });
        load();
      });
      source.css({ 'opacity' : 1.0 });
      operation.hide();
    });
}

function load_full() {
  var current_element = top_element().id.split('"').join('\\"');

  source.css({ 'opacity' : opacity });
  operation.css({ 'opacity' : opacity });
  source.load(
      files[position] + " [id^=\"" + current_element + "\"][content=\"full\"], [id$=\"" + current_element + "\"][content=\"full\"]", 
      function() {
        var entity = source.children("[content=\"full\"]");
        top_element().id = entity.attr("id");
        var changed_value = entity.attr("changed");
        var operation_type = operation.children("#operation_type");
        if(changed_value == undefined) {
          operation_type.html("unmodified");
          next.removeAttr("disabled");
          previous.removeAttr("disabled");
        } else {
          if(changed_value == "modified") {
            entity.children("[content=\"summary\"]").show();
            next.removeAttr("disabled");
            previous.removeAttr("disabled");
          } else if(changed_value == "inserted") {
            next.removeAttr("disabled");
            previous.attr("disabled", "disabled");
          } else if(changed_value == "deleted") {
            next.attr("disabled", "disabled");
            previous.removeAttr("disabled");
          }
          operation_type.html(changed_value);
        }

        entity.children("[content=\"signature\"]").children("[content=\"pre\"]").show();
        entity.children("[content=\"body\"]")
              .find("[content=\"signature\"]").click(function() {
          element_stack.push({ is_signature:false, id:$(this).attr("id") });
          load();
        });
        entity.wrap("<pre></pre>");
        source.css({ 'opacity' : 1.0 });
        operation.css({ 'opacity' : 1.0 });
        operation.show();

    });
}

function load_signatures() {

    source.css({ 'opacity' : opacity });
    operation.css({ 'opacity' : opacity });
    source.load(files[position] + " [content=\"signature\"]", function() {
              source.find("[content=\"pre\"]").show();
              var signatures = $("[content=\"signature\"]");
              signatures.wrap("<pre></pre>");
              signatures.click(function() {
                element_stack.push({ is_signature:false, id:$(this).attr("id") });
                load();
              });
              source.css({ 'opacity' : 1.0 });
              operation.hide();
    });
}

function set_file_name() {
  $.get(files[position], function(data) {
      var parsed = $.parseHTML(data);
      var full_file_name = $(parsed).find("[filename]").attr("filename");
      // var java_extension = ".java"
      var file_name = full_file_name.substring(full_file_name.lastIndexOf('/') + 1,)
      commit_info.children("#file").children("#file_value").html(file_name);
  });
}

var extension = ".srcdiff.html";
var extension_length = extension.length;
function load() {

  if(element_stack.length == 1) {
    $("#back").hide();
    $("#signature").show();
    $("#full").show();
  } else {
    $("#back").show();
    $("#signature").hide();
    $("#full").hide();
  }

  var basename = files[position].substring(0, files[position].length - extension_length);
  var metadata = basename.split('&');
  var revisions = metadata[1].split('-');
  var revision_str = revisions[0].substring(0, 6) + '-' + revisions[1].substring(0, 6);
  var author = metadata.slice(2).join('&').split('_').join(' ');
  var date = metadata[0].split('@').join(' ');

  commit_info.children("#revision").children("#revision_number").html(revision_str);
  commit_info.children("#author").children("#author_name").html(author);
  commit_info.children("#date").children("#date_value").html(date);

  if(element_stack.length != 1) {
    load_full()
  } else if(element_stack.length == 1 && top_element().is_signature) {
    load_signatures();
  } else {
    load_all();
  }

}

function next_version() {
  position += 1;
  if(position == files.length) {
    position = 0;
  }
  if(element_stack.length != 1 && top_element().id.includes(":")) {
    var new_id = "";
    if(position == 0) {
      new_id = top_element().id.split(":")[0];
    } else {
      new_id = top_element().id.split(":")[1];
    }
    top_element().id = new_id;
  }
  load();
}

/**
 * Can stop when no new/old for next/prev
 * still need a good way to bypass async for skipping !changed
 * Might add another output on generation to say what changed
 * and build a map so I can consult each next version as that may 
 * should be way faster.
 */
function previous_version() {
  if(position == 0) {
    position = files.length;
  }
  position -= 1;
  if(element_stack.length != 1 && top_element().id.includes(":")) {
    var new_id = "";
    if(position == (files.length - 1)) {
      new_id = top_element().id.split(":")[1];
    } else {
      new_id = top_element().id.split(":")[0];
    }
    top_element().id = new_id;

  }
  load();
}

function back_up() {
  /* maybe make a stack to support true drill down/roll up */
  if(element_stack.length != 1) {
    element_stack.pop()
    load();
  }
}

function set_is_signature(value) {
  if(top_element().is_signature == value) return;

  top_element().is_signature = value;
  load();
}

$(document).ready(function() {
  commit_info = $("#commit_info").children("tbody");
  source = $("#source");
  operation = $("#operation");
  next = $("#next");
  previous = $("#prev");

  next.click(next_version);
  previous.click(previous_version);
  $("#back").click(back_up);
  set_file_name();
  load();
});

</script>

<style>
  #revision { font-family: courier, monospace; }
  #author   { font-family: courier, monospace; }
  #date     { font-family: courier, monospace; }
  #file     { font-family: courier, monospace; }

  #revision_label { font-weight: bold; }
  #author_label   { font-weight: bold; }
  #date_label     { font-weight: bold; }
  #file_label     { font-weight: bold; }

  #revision_number { }
  #author_name     { }
  #date_value      { }
  #file_value      { }

</style>

</head>
<body>

<div id="summary">
<table id="commit_info">
  <tbody>
    <tr id="revision">
      <td id="revision_label">Revision:</td>
      <td id="revision_number"></td>
    </tr>
    <tr id="author">
      <td id="author_label">Author:</td>
      <td id="author_name"></td>
    </tr>
    <tr id="date">
      <td id="date_label">Date:</td>
      <td id="date_value"></td>
    </tr>
    <tr id="file">
      <td id="file_label">File:</td>
      <td id="file_value"></td>
    </tr>
<!--     <tr id="class">
      <td id="class_label">Class:</td>
      <td id="class_value"></td>
    </tr> -->
  </tbody>
</table>
</div><br />

<button id="prev">previous</button>
<button id="next">next</button>
<button id="back">back</button>
<span id="signature"><input type="radio" name="detail" value="signatures" onclick="set_is_signature(true)" checked="checked" > Signature</span>
<span id="full"><input type="radio" name="detail" value="full" onclick="set_is_signature(false)"> Full</span>

<pre id="operation" style="display: none;"><strong>Operation:</strong> <span id="operation_type" style="font-style: italic;"></span></pre>
<div id="source"></div>

</body>
</html>
