<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
var files = <?php $out = array();
foreach (glob('*.srcdiff.html') as $filename) {
    $out[] = $filename;
}
echo json_encode($out); ?>;
var position = files.length - 1;
var is_signature = true
var element_stack = [ { is_signature:true, id:"" } ]

function top() {
  return element_stack[element_stack.length - 1];

}
/*
function load(object, filename, selector, func) {
  $.get(filename, function(data) {
    if(selector != undefined) {
      var parsed = $.parseHTML(data);
      object.html($(parsed).find(selector));
    } else {
      object.html(data);
    }
    func();
  });
}
*/

function load_all() {
    $("#source").load(files[position], function() {
      $("[content=\"signature\"]").click(function() {
        element_stack.push({ is_signature:false, id:$(this).attr("id") });
        load_document();
      });
    });
}

function load_full() {
  var current_element = top().id
  $("#source").load(
      files[position] + " [id*=\"" + current_element + "\"][content=\"full\"]", 
      function() {
        $("#source").children("[content=\"full\"]").children("[content=\"signature\"]").children("[content=\"pre\"]").show();
        $("#source").children("[content=\"full\"]")
                    .children("[content=\"body\"]")
                    .find("[content=\"signature\"]").click(function() {
          element_stack.push({ is_signature:false, id:$(this).attr("id") });
          load_document();
        });
        $("#source").children("[content=\"full\"]").wrap("<pre></pre>");

    });
}

function load_signatures() {
    $("#source").load(files[position] + " [content=\"signature\"]", function() {
              $("#source").find("[content=\"pre\"]").show();
              $("[content=\"signature\"]").wrap("<pre></pre>");
              $("[content=\"signature\"]").click(function() {
                element_stack.push({ is_signature:false, id:$(this).attr("id") });
                load_document();
             });
    });
}

var extension = ".srcdiff.html";
var extension_length = extension.length;
function load_document() {

  var basename = files[position].substring(0, files[position].length - extension_length);
  var metadata = basename.split("&");
  var author = metadata.slice(2).join('&').split('_').join('');

  var summary_element = $("#summary");
  summary_element.children("#date").children("#date_value").html(metadata[0]);
  summary_element.children("#revision").children("#revision_number").html(metadata[1]);
  summary_element.children("#author").children("#author_name").html(author);

  if(element_stack.length != 1) {
    load_full()
  } else if(element_stack.length == 1 && top().is_signature) {
    load_signatures();
  } else {
    load_all();
  }
}

function next_version() {
  position += 1;
  if(position == files.length) {
    position = 0;
  }
  if(element_stack.length != 1 && top().id.includes(":")) {
    var new_id = "";
    if(position == 0) {
      new_id = top().id.split(":")[0];
    } else {
      new_id = top().id.split(":")[1];
    }
    top().id = new_id;
  }
  load_document();
}

/**
 * Can stop when no new/old for next/prev
 * still need a good way to bypass async for skipping !changed
 * Might add another output on generation to say what changed
 * and build a map so I can consult each next version as that may 
 * should be way faster.
 */
function previous_version() {
  if(position == 0) {
    position = files.length;
  }
  position -= 1;
  if(element_stack.length != 1 && top().id.includes(":")) {
    var new_id = "";
    if(position == (files.length - 1)) {
      new_id = top().id.split(":")[1];
    } else {
      new_id = top().id.split(":")[0];
    }
    top().id = new_id;
  }

  load_document();
}

function roll_up() {
  /* maybe make a stack to support true drill down/roll up */
  if(element_stack.length != 1) {
    element_stack.pop()
    load_document();
  }
}

function set_is_signature(value) {
  if(top().is_signature == value) return;

  top().is_signature = value;
  load_document();
}

$(document).ready(function() {
  $("#signature").attr('checked', true);
  load_document();
  $("#next").click(next_version);
  $("#prev").click(previous_version);
  $("#rollup").click(roll_up);
});

</script>
</head>
<body>

<div id="summary">
  <span id="author">Author: <span id="author_name"></span></span><br/>
  <span id="date">Date: <span id="date_value"></span></span><br/>
  <span id="revision">Revision: <span id="revision_number"></span></span><br/>
</div><br/>

<button id="prev">previous</button>
<button id="next">next</button>
<button id="rollup">roll-up</button>
<span><input id="signature"  type="radio" name="detail" value="signatures" onclick=set_is_signature(true)> Signature</span>
<span><input id="full"     type="radio" name="detail" value="full" onclick=set_is_signature(false)> Full</span>

<div id="source"></div>

</body>
</html>
