@namespace cpp url(http://www.srcML.org/srcML/cpp);
@namespace diff url(http://www.srcML.org/srcDiff);

* {

    font-family: menlo, courier;

}

diff|insert {

    font-weight: bold;
    background-color: #21FF59;
    /*text-decoration: none;*/

}

diff|delete {

    font-weight: bold;
    background-color: #FEAAAD;
    /*text-decoration: line-through;*/

}

diff|common {

    font-weight: normal;
    background-color: white;
    /*text-decoration: none;*/

}

.content {
    font-weight: normal;
    margin: 0;
    margin-left: 34px;
    padding: 0;
    background: #FFF;
    float: left;
}

unit {

font-weight: normal;
white-space: pre;
tab-size:8;

}
