* {

	font-weight: bold;
	font-family: menlo, courier;

}

insert {

	color: blue;

}

delete {

	color: red;

}

common {

	color: black;

}

html {

    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
    margin: 0;
    margin-left: 34px;
    padding: 0;
    background: #FFF;
    float: left;
}

.empty {
    position: fixed;
    width: 30px;
    height: 100%;
    background: rgb(245,245,245);
    -webkit-user-select: none;
}

#numbers{
    position: fixed;
    color: #AAA;
    background: rgb(245,245,245);
    text-align: right;
    top: 0;
    width: 25px;
    padding-right: 5px;
    -webkit-user-select: none;
}

unit {
    white-space: pre;
    tab-size:8 ;
    color: #000;
}

cpp\:directive::before {
    font-weight: normal;
    content: "<cpp:directive>";
    color: #555;
}

cpp\:file::before {
    font-weight: normal;
    content: "<cpp:file>";
    color: #555;
}

cpp\:include::before {
    font-weight: normal;
    content: "<cpp:include>";
    color: #555;
}

name::before {
    font-weight: normal;
    content: "<name>";
    color: #555;
}

type::before {
    font-weight: normal;
    content: "<type>";
    color: #555;
}

decl::before {
    font-weight: normal;
    content: "<decl>";
    color: #555;
}

param::before {
    font-weight: normal;
    content: "<param>";
    color: #555;
}

parameter_list::before {
    font-weight: normal;
    content: "<parameter_list>";
    color: #555;
}

expr::before {
    font-weight: normal;
    content: "<expr>";
    color: #555;
}

argument::before {
    font-weight: normal;
    content: "<argument>";
    color: #555;
}

argument_list::before {
    font-weight: normal;
    content: "<argument_list>";
    color: #555;
}

call::before {
    font-weight: normal;
    content: "<call>";
    color: #555;
}

member_list::before {
    font-weight: normal;
    content: "<member_list>";
    color: #555;
}

expr_stmt::before {
    font-weight: normal;
    content: "<expr_stmt>";
    color: #555;
}

comment::before {
    font-weight: normal;
    content: "<comment>";
    color: #555;
}

init::before {
    font-weight: normal;
    content: "<init>";
    color: #555;
}

decl_stmt::before {
    font-weight: normal;
    content: "<decl_stmt>";
    color: #555;
}

block::before {
    font-weight: normal;
    content: "<block>";
    color: #555;
}

constructor::before {
    font-weight: normal;
    content: "<constructor>";
    color: #555;
}

destructor::before {
    font-weight: normal;
    content: "<destructor>";
    color: #555;
}

specifier::before {
    font-weight: normal;
    content: "<specifier>";
    color: #555;
}

function_decl::before {
    font-weight: normal;
    content: "<function_decl>";
    color: #555;
}

condition::before {
    font-weight: normal;
    content: "<condition>";
    color: #555;
}

then::before {
    font-weight: normal;
    content: "<then>";
    color: #555;
}

if::before {
    font-weight: normal;
    content: "<if>";
    color: #555;
}

return::before {
    font-weight: normal;
    content: "<return>";
    color: #555;
}

else::before {
    font-weight: normal;
    content: "<else>";
    color: #555;
}

ternary::before {

    font-weight: normal;
    content: "<ternary>";
    color: #555;

}

function::before {
    font-weight: normal;
    content: "<function>";
    color: #555;
}

incr::before {
    font-weight: normal;
    content: "<incr>";
    color: #555;
}

index::before {
    font-weight: normal;
    content: "<index>";
    color: #555;
}

for::before {
    font-weight: normal;
    content: "<for>";
    color: #555;
}

cpp\:ifndef::before {
    font-weight: normal;
    content: "<cpp:ifndef>";
    color: #555;
}

cpp\:macro::before {
    font-weight: normal;
    content: "<cpp:macro>";
    color: #555;
}

cpp\:define::before {
    font-weight: normal;
    content: "<cpp:define>";
    color: #555;
}

label::before {
    font-weight: normal;
    content: "<label>";
    color: #555;
}

empty_stmt::before {
    font-weight: normal;
    content: "<empty_stmt>";
    color: #555;
}

cpp\:endif::before {
    font-weight: normal;
    content: "<cpp:endif>";
    color: #555;
}

cpp\:directive::after {
    font-weight: normal;
    content: "</cpp:directive>";
    color: #555;
}

cpp\:file::after {
    font-weight: normal;
    content: "</cpp:file>";
    color: #555;
}

cpp\:include::after {
    font-weight: normal;
    content: "</cpp:include>";
    color: #555;
}

name::after {
    font-weight: normal;
    content: "</name>";
    color: #555;
}

type::after {
    font-weight: normal;
    content: "</type>";
    color: #555;
}

decl::after {
    font-weight: normal;
    content: "</decl>";
    color: #555;
}

param::after {
    font-weight: normal;
    content: "</param>";
    color: #555;
}

parameter_list::after {
    font-weight: normal;
    content: "</parameter_list>";
    color: #555;
}

expr::after {
    font-weight: normal;
    content: "</expr>";
    color: #555;
}

argument::after {
    font-weight: normal;
    content: "</argument>";
    color: #555;
}

argument_list::after {
    font-weight: normal;
    content: "</argument_list>";
    color: #555;
}

call::after {
    font-weight: normal;
    content: "</call>";
    color: #555;
}

member_list::after {
    font-weight: normal;
    content: "</member_list>";
    color: #555;
}

expr_stmt::after {
    font-weight: normal;
    content: "</expr_stmt>";
    color: #555;
}

comment::after {
    font-weight: normal;
    content: "</comment>";
    color: #555;
}

init::after {
    font-weight: normal;
    content: "</init>";
    color: #555;
}

decl_stmt::after {
    font-weight: normal;
    content: "</decl_stmt>";
    color: #555;
}

block::after {
    font-weight: normal;
    content: "</block>";
    color: #555;
}

constructor::after {
    font-weight: normal;
    content: "</constructor>";
    color: #555;
}

destructor::after {
    font-weight: normal;
    content: "</destructor>";
    color: #555;
}

specifier::after {
    font-weight: normal;
    content: "</specifier>";
    color: #555;
}

function_decl::after {
    font-weight: normal;
    content: "</function_decl>";
    color: #555;
}

condition::after {
    font-weight: normal;
    content: "</condition>";
    color: #555;
}

then::after {
    font-weight: normal;
    content: "</then>";
    color: #555;
}

if::after {
    font-weight: normal;
    content: "</if>";
    color: #555;
}

return::after {
    font-weight: normal;
    content: "</return>";
    color: #555;
}

else::after {
    font-weight: normal;
    content: "</else>";
    color: #555;
}

ternary::after {

    font-weight: normal;
    content: "</ternary>";
    color: #555;

}

function::after {
    font-weight: normal;
    content: "</function>";
    color: #555;
}

incr::after {
    font-weight: normal;
    content: "</incr>";
    color: #555;
}

index::after {
    font-weight: normal;
    content: "</index>";
    color: #555;
}

for::after {
    font-weight: normal;
    content: "</for>";
    color: #555;
}

cpp\:ifndef::after {
    font-weight: normal;
    content: "</cpp:ifndef>";
    color: #555;
}

cpp\:macro::after {
    font-weight: normal;
    content: "</cpp:macro>";
    color: #555;
}

cpp\:define::after {
    font-weight: normal;
    content: "</cpp:define>";
    color: #555;
}

label::after {
    font-weight: normal;
    content: "</label>";
    color: #555;
}

empty_stmt::after {
    font-weight: normal;
    content: "</empty_stmt>";
    color: #555;
}

cpp\:endif::after {
    font-weight: normal;
    content: "</cpp:endif>";
    color: #555;
}
