@namespace cpp url(http://www.sdml.info/srcML/cpp);

* {

	font-weight: bold;
	font-family: menlo, courier;

}

insert {

	color: blue;

}

delete {

	color: red;

}

common {

	color: black;

}

.content {
	font-weight: normal;
    margin: 0;
    margin-left: 34px;
    padding: 0;
    background: #FFF;
    float: left;
}

unit {

white-space: pre;
tab-size:8;

}

alignas::before {

	font-weight: normal;
	content: "<alignas>";

}

alignas::after {

	font-weight: normal;
	content: "</alignas>";

}

alignof::before {

	font-weight: normal;
	content: "<alignof>";

}

alignof::after {

	font-weight: normal;
	content: "</alignof>";

}

annotation::before {

	font-weight: normal;
	content: "<annotation>";

}

annotation::after {

	font-weight: normal;
	content: "</annotation>";

}

argument::before {

	font-weight: normal;
	content: "<argument>";

}

argument::after {

	font-weight: normal;
	content: "</argument>";

}

argument_list::before {

	font-weight: normal;
	content: "<argument_list>";

}

argument_list::after {

	font-weight: normal;
	content: "</argument_list>";

}

asm::before {

	font-weight: normal;
	content: "<asm>";

}

asm::after {

	font-weight: normal;
	content: "</asm>";

}

assert::before {

	font-weight: normal;
	content: "<assert>";

}

assert::after {

	font-weight: normal;
	content: "</assert>";

}

association::before {

	font-weight: normal;
	content: "<association>";

}

association::after {

	font-weight: normal;
	content: "</association>";

}

association_list::before {

	font-weight: normal;
	content: "<association_list>";

}

association_list::after {

	font-weight: normal;
	content: "</association_list>";

}

atomic::before {

	font-weight: normal;
	content: "<atomic>";

}

atomic::after {

	font-weight: normal;
	content: "</atomic>";

}

attribute::before {

	font-weight: normal;
	content: "<attribute>";

}

attribute::after {

	font-weight: normal;
	content: "</attribute>";

}

attribute_list::before {

	font-weight: normal;
	content: "<attribute_list>";

}

attribute_list::after {

	font-weight: normal;
	content: "</attribute_list>";

}

autoreleasepool::before {

	font-weight: normal;
	content: "<autoreleasepool>";

}

autoreleasepool::after {

	font-weight: normal;
	content: "</autoreleasepool>";

}

block::before {

	font-weight: normal;
	content: "<block>";

}

block::after {

	font-weight: normal;
	content: "</block>";

}

break::before {

	font-weight: normal;
	content: "<break>";

}

break::after {

	font-weight: normal;
	content: "</break>";

}

by::before {

	font-weight: normal;
	content: "<by>";

}

by::after {

	font-weight: normal;
	content: "</by>";

}

call::before {

	font-weight: normal;
	content: "<call>";

}

call::after {

	font-weight: normal;
	content: "</call>";

}

capture::before {

	font-weight: normal;
	content: "<capture>";

}

capture::after {

	font-weight: normal;
	content: "</capture>";

}

case::before {

	font-weight: normal;
	content: "<case>";

}

case::after {

	font-weight: normal;
	content: "</case>";

}

cast::before {

	font-weight: normal;
	content: "<cast>";

}

cast::after {

	font-weight: normal;
	content: "</cast>";

}

catch::before {

	font-weight: normal;
	content: "<catch>";

}

catch::after {

	font-weight: normal;
	content: "</catch>";

}

category::before {

	font-weight: normal;
	content: "<category>";

}

category::after {

	font-weight: normal;
	content: "</category>";

}

checked::before {

	font-weight: normal;
	content: "<checked>";

}

checked::after {

	font-weight: normal;
	content: "</checked>";

}

class::before {

	font-weight: normal;
	content: "<class>";

}

class::after {

	font-weight: normal;
	content: "</class>";

}

class_decl::before {

	font-weight: normal;
	content: "<class_decl>";

}

class_decl::after {

	font-weight: normal;
	content: "</class_decl>";

}

compatibility_alias::before {

	font-weight: normal;
	content: "<compatibility_alias>";

}

compatibility_alias::after {

	font-weight: normal;
	content: "</compatibility_alias>";

}

condition::before {

	font-weight: normal;
	content: "<condition>";

}

condition::after {

	font-weight: normal;
	content: "</condition>";

}

constructor::before {

	font-weight: normal;
	content: "<constructor>";

}

constructor::after {

	font-weight: normal;
	content: "</constructor>";

}

constructor_decl::before {

	font-weight: normal;
	content: "<constructor_decl>";

}

constructor_decl::after {

	font-weight: normal;
	content: "</constructor_decl>";

}

continue::before {

	font-weight: normal;
	content: "<continue>";

}

continue::after {

	font-weight: normal;
	content: "</continue>";

}

control::before {

	font-weight: normal;
	content: "<control>";

}

control::after {

	font-weight: normal;
	content: "</control>";

}

decl::before {

	font-weight: normal;
	content: "<decl>";

}

decl::after {

	font-weight: normal;
	content: "</decl>";

}

decl_stmt::before {

	font-weight: normal;
	content: "<decl_stmt>";

}

decl_stmt::after {

	font-weight: normal;
	content: "</decl_stmt>";

}

decltype::before {

	font-weight: normal;
	content: "<decltype>";

}

decltype::after {

	font-weight: normal;
	content: "</decltype>";

}

default::before {

	font-weight: normal;
	content: "<default>";

}

default::after {

	font-weight: normal;
	content: "</default>";

}

delegate::before {

	font-weight: normal;
	content: "<delegate>";

}

delegate::after {

	font-weight: normal;
	content: "</delegate>";

}

destructor::before {

	font-weight: normal;
	content: "<destructor>";

}

destructor::after {

	font-weight: normal;
	content: "</destructor>";

}

destructor_decl::before {

	font-weight: normal;
	content: "<destructor_decl>";

}

destructor_decl::after {

	font-weight: normal;
	content: "</destructor_decl>";

}

do::before {

	font-weight: normal;
	content: "<do>";

}

do::after {

	font-weight: normal;
	content: "</do>";

}

dynamic::before {

	font-weight: normal;
	content: "<dynamic>";

}

dynamic::after {

	font-weight: normal;
	content: "</dynamic>";

}

else::before {

	font-weight: normal;
	content: "<else>";

}

else::after {

	font-weight: normal;
	content: "</else>";

}

elseif::before {

	font-weight: normal;
	content: "<elseif>";

}

elseif::after {

	font-weight: normal;
	content: "</elseif>";

}

emit::before {

	font-weight: normal;
	content: "<emit>";

}

emit::after {

	font-weight: normal;
	content: "</emit>";

}

empty_stmt::before {

	font-weight: normal;
	content: "<empty_stmt>";

}

empty_stmt::after {

	font-weight: normal;
	content: "</empty_stmt>";

}

encode::before {

	font-weight: normal;
	content: "<encode>";

}

encode::after {

	font-weight: normal;
	content: "</encode>";

}

enum::before {

	font-weight: normal;
	content: "<enum>";

}

enum::after {

	font-weight: normal;
	content: "</enum>";

}

equals::before {

	font-weight: normal;
	content: "<equals>";

}

equals::after {

	font-weight: normal;
	content: "</equals>";

}

event::before {

	font-weight: normal;
	content: "<event>";

}

event::after {

	font-weight: normal;
	content: "</event>";

}

expr::before {

	font-weight: normal;
	content: "<expr>";

}

expr::after {

	font-weight: normal;
	content: "</expr>";

}

expr_stmt::before {

	font-weight: normal;
	content: "<expr_stmt>";

}

expr_stmt::after {

	font-weight: normal;
	content: "</expr_stmt>";

}

extends::before {

	font-weight: normal;
	content: "<extends>";

}

extends::after {

	font-weight: normal;
	content: "</extends>";

}

extern::before {

	font-weight: normal;
	content: "<extern>";

}

extern::after {

	font-weight: normal;
	content: "</extern>";

}

finally::before {

	font-weight: normal;
	content: "<finally>";

}

finally::after {

	font-weight: normal;
	content: "</finally>";

}

fixed::before {

	font-weight: normal;
	content: "<fixed>";

}

fixed::after {

	font-weight: normal;
	content: "</fixed>";

}

for::before {

	font-weight: normal;
	content: "<for>";

}

for::after {

	font-weight: normal;
	content: "</for>";

}

foreach::before {

	font-weight: normal;
	content: "<foreach>";

}

foreach::after {

	font-weight: normal;
	content: "</foreach>";

}

forever::before {

	font-weight: normal;
	content: "<forever>";

}

forever::after {

	font-weight: normal;
	content: "</forever>";

}

friend::before {

	font-weight: normal;
	content: "<friend>";

}

friend::after {

	font-weight: normal;
	content: "</friend>";

}

from::before {

	font-weight: normal;
	content: "<from>";

}

from::after {

	font-weight: normal;
	content: "</from>";

}

function::before {

	font-weight: normal;
	content: "<function>";

}

function::after {

	font-weight: normal;
	content: "</function>";

}

function_decl::before {

	font-weight: normal;
	content: "<function_decl>";

}

function_decl::after {

	font-weight: normal;
	content: "</function_decl>";

}

generic_selection::before {

	font-weight: normal;
	content: "<generic_selection>";

}

generic_selection::after {

	font-weight: normal;
	content: "</generic_selection>";

}

goto::before {

	font-weight: normal;
	content: "<goto>";

}

goto::after {

	font-weight: normal;
	content: "</goto>";

}

group::before {

	font-weight: normal;
	content: "<group>";

}

group::after {

	font-weight: normal;
	content: "</group>";

}

if::before {

	font-weight: normal;
	content: "<if>";

}

if::after {

	font-weight: normal;
	content: "</if>";

}

implements::before {

	font-weight: normal;
	content: "<implements>";

}

implements::after {

	font-weight: normal;
	content: "</implements>";

}

import::before {

	font-weight: normal;
	content: "<import>";

}

import::after {

	font-weight: normal;
	content: "</import>";

}

in::before {

	font-weight: normal;
	content: "<in>";

}

in::after {

	font-weight: normal;
	content: "</in>";

}

incr::before {

	font-weight: normal;
	content: "<incr>";

}

incr::after {

	font-weight: normal;
	content: "</incr>";

}

index::before {

	font-weight: normal;
	content: "<index>";

}

index::after {

	font-weight: normal;
	content: "</index>";

}

init::before {

	font-weight: normal;
	content: "<init>";

}

init::after {

	font-weight: normal;
	content: "</init>";

}

into::before {

	font-weight: normal;
	content: "<into>";

}

into::after {

	font-weight: normal;
	content: "</into>";

}

join::before {

	font-weight: normal;
	content: "<join>";

}

join::after {

	font-weight: normal;
	content: "</join>";

}

krparam::before {

	font-weight: normal;
	content: "<krparam>";

}

krparam::after {

	font-weight: normal;
	content: "</krparam>";

}

krparameter_list::before {

	font-weight: normal;
	content: "<krparameter_list>";

}

krparameter_list::after {

	font-weight: normal;
	content: "</krparameter_list>";

}

label::before {

	font-weight: normal;
	content: "<label>";

}

label::after {

	font-weight: normal;
	content: "</label>";

}

lambda::before {

	font-weight: normal;
	content: "<lambda>";

}

lambda::after {

	font-weight: normal;
	content: "</lambda>";

}

let::before {

	font-weight: normal;
	content: "<let>";

}

let::after {

	font-weight: normal;
	content: "</let>";

}

linq::before {

	font-weight: normal;
	content: "<linq>";

}

linq::after {

	font-weight: normal;
	content: "</linq>";

}

literal::before {

	font-weight: normal;
	content: "<literal>";

}

literal::after {

	font-weight: normal;
	content: "</literal>";

}

lock::before {

	font-weight: normal;
	content: "<lock>";

}

lock::after {

	font-weight: normal;
	content: "</lock>";

}

macro::before {

	font-weight: normal;
	content: "<macro>";

}

macro::after {

	font-weight: normal;
	content: "</macro>";

}

marker::before {

	font-weight: normal;
	content: "<marker>";

}

marker::after {

	font-weight: normal;
	content: "</marker>";

}

member_list::before {

	font-weight: normal;
	content: "<member_list>";

}

member_list::after {

	font-weight: normal;
	content: "</member_list>";

}

message::before {

	font-weight: normal;
	content: "<message>";

}

message::after {

	font-weight: normal;
	content: "</message>";

}

mode::before {

	font-weight: normal;
	content: "<mode>";

}

mode::after {

	font-weight: normal;
	content: "</mode>";

}

modifier::before {

	font-weight: normal;
	content: "<modifier>";

}

modifier::after {

	font-weight: normal;
	content: "</modifier>";

}

name::before {

	font-weight: normal;
	content: "<name>";

}

name::after {

	font-weight: normal;
	content: "</name>";

}

namespace::before {

	font-weight: normal;
	content: "<namespace>";

}

namespace::after {

	font-weight: normal;
	content: "</namespace>";

}

noexcept::before {

	font-weight: normal;
	content: "<noexcept>";

}

noexcept::after {

	font-weight: normal;
	content: "</noexcept>";

}

on::before {

	font-weight: normal;
	content: "<on>";

}

on::after {

	font-weight: normal;
	content: "</on>";

}

operator::before {

	font-weight: normal;
	content: "<operator>";

}

operator::after {

	font-weight: normal;
	content: "</operator>";

}

optional::before {

	font-weight: normal;
	content: "<optional>";

}

optional::after {

	font-weight: normal;
	content: "</optional>";

}

orderby::before {

	font-weight: normal;
	content: "<orderby>";

}

orderby::after {

	font-weight: normal;
	content: "</orderby>";

}

package::before {

	font-weight: normal;
	content: "<package>";

}

package::after {

	font-weight: normal;
	content: "</package>";

}

param::before {

	font-weight: normal;
	content: "<param>";

}

param::after {

	font-weight: normal;
	content: "</param>";

}

parameter_list::before {

	font-weight: normal;
	content: "<parameter_list>";

}

parameter_list::after {

	font-weight: normal;
	content: "</parameter_list>";

}

parse::before {

	font-weight: normal;
	content: "<parse>";

}

parse::after {

	font-weight: normal;
	content: "</parse>";

}

private::before {

	font-weight: normal;
	content: "<private>";

}

private::after {

	font-weight: normal;
	content: "</private>";

}

property::before {

	font-weight: normal;
	content: "<property>";

}

property::after {

	font-weight: normal;
	content: "</property>";

}

protected::before {

	font-weight: normal;
	content: "<protected>";

}

protected::after {

	font-weight: normal;
	content: "</protected>";

}

protocol::before {

	font-weight: normal;
	content: "<protocol>";

}

protocol::after {

	font-weight: normal;
	content: "</protocol>";

}

protocol_decl::before {

	font-weight: normal;
	content: "<protocol_decl>";

}

protocol_decl::after {

	font-weight: normal;
	content: "</protocol_decl>";

}

protocol_list::before {

	font-weight: normal;
	content: "<protocol_list>";

}

protocol_list::after {

	font-weight: normal;
	content: "</protocol_list>";

}

public::before {

	font-weight: normal;
	content: "<public>";

}

public::after {

	font-weight: normal;
	content: "</public>";

}

range::before {

	font-weight: normal;
	content: "<range>";

}

range::after {

	font-weight: normal;
	content: "</range>";

}

receiver::before {

	font-weight: normal;
	content: "<receiver>";

}

receiver::after {

	font-weight: normal;
	content: "</receiver>";

}

ref_qualifier::before {

	font-weight: normal;
	content: "<ref_qualifier>";

}

ref_qualifier::after {

	font-weight: normal;
	content: "</ref_qualifier>";

}

required::before {

	font-weight: normal;
	content: "<required>";

}

required::after {

	font-weight: normal;
	content: "</required>";

}

return::before {

	font-weight: normal;
	content: "<return>";

}

return::after {

	font-weight: normal;
	content: "</return>";

}

select::before {

	font-weight: normal;
	content: "<select>";

}

select::after {

	font-weight: normal;
	content: "</select>";

}

selector::before {

	font-weight: normal;
	content: "<selector>";

}

selector::after {

	font-weight: normal;
	content: "</selector>";

}

signals::before {

	font-weight: normal;
	content: "<signals>";

}

signals::after {

	font-weight: normal;
	content: "</signals>";

}

sizeof::before {

	font-weight: normal;
	content: "<sizeof>";

}

sizeof::after {

	font-weight: normal;
	content: "</sizeof>";

}

specifier::before {

	font-weight: normal;
	content: "<specifier>";

}

specifier::after {

	font-weight: normal;
	content: "</specifier>";

}

static::before {

	font-weight: normal;
	content: "<static>";

}

static::after {

	font-weight: normal;
	content: "</static>";

}

struct::before {

	font-weight: normal;
	content: "<struct>";

}

struct::after {

	font-weight: normal;
	content: "</struct>";

}

struct_decl::before {

	font-weight: normal;
	content: "<struct_decl>";

}

struct_decl::after {

	font-weight: normal;
	content: "</struct_decl>";

}

super::before {

	font-weight: normal;
	content: "<super>";

}

super::after {

	font-weight: normal;
	content: "</super>";

}

switch::before {

	font-weight: normal;
	content: "<switch>";

}

switch::after {

	font-weight: normal;
	content: "</switch>";

}

synchronized::before {

	font-weight: normal;
	content: "<synchronized>";

}

synchronized::after {

	font-weight: normal;
	content: "</synchronized>";

}

synthesize::before {

	font-weight: normal;
	content: "<synthesize>";

}

synthesize::after {

	font-weight: normal;
	content: "</synthesize>";

}

target::before {

	font-weight: normal;
	content: "<target>";

}

target::after {

	font-weight: normal;
	content: "</target>";

}

template::before {

	font-weight: normal;
	content: "<template>";

}

template::after {

	font-weight: normal;
	content: "</template>";

}

ternary::before {

	font-weight: normal;
	content: "<ternary>";

}

ternary::after {

	font-weight: normal;
	content: "</ternary>";

}

then::before {

	font-weight: normal;
	content: "<then>";

}

then::after {

	font-weight: normal;
	content: "</then>";

}

throw::before {

	font-weight: normal;
	content: "<throw>";

}

throw::after {

	font-weight: normal;
	content: "</throw>";

}

throws::before {

	font-weight: normal;
	content: "<throws>";

}

throws::after {

	font-weight: normal;
	content: "</throws>";

}

try::before {

	font-weight: normal;
	content: "<try>";

}

try::after {

	font-weight: normal;
	content: "</try>";

}

type::before {

	font-weight: normal;
	content: "<type>";

}

type::after {

	font-weight: normal;
	content: "</type>";

}

typedef::before {

	font-weight: normal;
	content: "<typedef>";

}

typedef::after {

	font-weight: normal;
	content: "</typedef>";

}

typeid::before {

	font-weight: normal;
	content: "<typeid>";

}

typeid::after {

	font-weight: normal;
	content: "</typeid>";

}

typename::before {

	font-weight: normal;
	content: "<typename>";

}

typename::after {

	font-weight: normal;
	content: "</typename>";

}

typeof::before {

	font-weight: normal;
	content: "<typeof>";

}

typeof::after {

	font-weight: normal;
	content: "</typeof>";

}

unchecked::before {

	font-weight: normal;
	content: "<unchecked>";

}

unchecked::after {

	font-weight: normal;
	content: "</unchecked>";

}

union::before {

	font-weight: normal;
	content: "<union>";

}

union::after {

	font-weight: normal;
	content: "</union>";

}

union_decl::before {

	font-weight: normal;
	content: "<union_decl>";

}

union_decl::after {

	font-weight: normal;
	content: "</union_decl>";

}

unit::before {

	font-weight: normal;
	content: "<unit>";

}

unit::after {

	font-weight: normal;
	content: "</unit>";

}

unsafe::before {

	font-weight: normal;
	content: "<unsafe>";

}

unsafe::after {

	font-weight: normal;
	content: "</unsafe>";

}

using::before {

	font-weight: normal;
	content: "<using>";

}

using::after {

	font-weight: normal;
	content: "</using>";

}

using_stmt::before {

	font-weight: normal;
	content: "<using_stmt>";

}

using_stmt::after {

	font-weight: normal;
	content: "</using_stmt>";

}

where::before {

	font-weight: normal;
	content: "<where>";

}

where::after {

	font-weight: normal;
	content: "</where>";

}

while::before {

	font-weight: normal;
	content: "<while>";

}

while::after {

	font-weight: normal;
	content: "</while>";

}

cpp|define::before {

	font-weight: normal;
	content: "<cpp:define>";

}

cpp|define::after {

	font-weight: normal;
	content: "</cpp:define>";

}

cpp|directive::before {

	font-weight: normal;
	content: "<cpp:directive>";

}

cpp|directive::after {

	font-weight: normal;
	content: "</cpp:directive>";

}

cpp|elif::before {

	font-weight: normal;
	content: "<cpp:elif>";

}

cpp|elif::after {

	font-weight: normal;
	content: "</cpp:elif>";

}

cpp|else::before {

	font-weight: normal;
	content: "<cpp:else>";

}

cpp|else::after {

	font-weight: normal;
	content: "</cpp:else>";

}

cpp|empty::before {

	font-weight: normal;
	content: "<cpp:empty>";

}

cpp|empty::after {

	font-weight: normal;
	content: "</cpp:empty>";

}

cpp|endif::before {

	font-weight: normal;
	content: "<cpp:endif>";

}

cpp|endif::after {

	font-weight: normal;
	content: "</cpp:endif>";

}

cpp|endregion::before {

	font-weight: normal;
	content: "<cpp:endregion>";

}

cpp|endregion::after {

	font-weight: normal;
	content: "</cpp:endregion>";

}

cpp|error::before {

	font-weight: normal;
	content: "<cpp:error>";

}

cpp|error::after {

	font-weight: normal;
	content: "</cpp:error>";

}

cpp|file::before {

	font-weight: normal;
	content: "<cpp:file>";

}

cpp|file::after {

	font-weight: normal;
	content: "</cpp:file>";

}

cpp|if::before {

	font-weight: normal;
	content: "<cpp:if>";

}

cpp|if::after {

	font-weight: normal;
	content: "</cpp:if>";

}

cpp|ifdef::before {

	font-weight: normal;
	content: "<cpp:ifdef>";

}

cpp|ifdef::after {

	font-weight: normal;
	content: "</cpp:ifdef>";

}

cpp|ifndef::before {

	font-weight: normal;
	content: "<cpp:ifndef>";

}

cpp|ifndef::after {

	font-weight: normal;
	content: "</cpp:ifndef>";

}

cpp|import::before {

	font-weight: normal;
	content: "<cpp:import>";

}

cpp|import::after {

	font-weight: normal;
	content: "</cpp:import>";

}

cpp|include::before {

	font-weight: normal;
	content: "<cpp:include>";

}

cpp|include::after {

	font-weight: normal;
	content: "</cpp:include>";

}

cpp|line::before {

	font-weight: normal;
	content: "<cpp:line>";

}

cpp|line::after {

	font-weight: normal;
	content: "</cpp:line>";

}

cpp|literal::before {

	font-weight: normal;
	content: "<cpp:literal>";

}

cpp|literal::after {

	font-weight: normal;
	content: "</cpp:literal>";

}

cpp|macro::before {

	font-weight: normal;
	content: "<cpp:macro>";

}

cpp|macro::after {

	font-weight: normal;
	content: "</cpp:macro>";

}

cpp|number::before {

	font-weight: normal;
	content: "<cpp:number>";

}

cpp|number::after {

	font-weight: normal;
	content: "</cpp:number>";

}

cpp|pragma::before {

	font-weight: normal;
	content: "<cpp:pragma>";

}

cpp|pragma::after {

	font-weight: normal;
	content: "</cpp:pragma>";

}

cpp|region::before {

	font-weight: normal;
	content: "<cpp:region>";

}

cpp|region::after {

	font-weight: normal;
	content: "</cpp:region>";

}

cpp|then::before {

	font-weight: normal;
	content: "<cpp:then>";

}

cpp|then::after {

	font-weight: normal;
	content: "</cpp:then>";

}

cpp|undef::before {

	font-weight: normal;
	content: "<cpp:undef>";

}

cpp|undef::after {

	font-weight: normal;
	content: "</cpp:undef>";

}

cpp|value::before {

	font-weight: normal;
	content: "<cpp:value>";

}

cpp|value::after {

	font-weight: normal;
	content: "</cpp:value>";

}

cpp|warning::before {

	font-weight: normal;
	content: "<cpp:warning>";

}

cpp|warning::after {

	font-weight: normal;
	content: "</cpp:warning>";

}
